<% if current_user %>
	<% if current_user.email == "rrn2110@columbia.edu" %>
		<h2>EDIT SAUROPSID</h2>
		<%= form_for @sauropsid do |s| %>
			<p>
				Order:<%= s.text_field :order %>
			</p>
			<p>
				Name:<%= s.text_field :name %>
			</p>
			<p>
				Age:<%= s.text_field :age %>
			</p>
			<p>
				Species:<%= s.text_field :species %>
			</p>
			<p>
				Location:<%= s.text_field :location %>
			</p>
			<p>
				Length:<%= s.text_field :length %>
			</p>
			<p>
				Wingspan:<%= s.text_field :wingspan %>
			</p>
			<p>
				Weight:<%= s.text_field :weight %>
			</p>
			<p>
				Image:<%= s.text_field :image %>
			</p>
			<p>
				<%= s.submit "UPDATE" %>
			</p>
			<p>
				<%= link_to 'DELETE', delete_sauropsid_path(s), :action => 'destroy', :method => 'delete', :confirm => 'Are you sure?' %>
			</p>
		<% end %>
	<% else %>
		UNAUTHORIZED
	<% end %>
<% else %>
		UNAUTHORIZED
<% end %>