<%= @sauropsid.name %>
<%= @sauropsid.location %>
<%= @sauropsid.age %>
<%= @sauropsid.species %>
<% if @sauropsid.order == 'pterosaur' %>
	<%= @sauropsid.wingspan %>
	<%= @sauropsid.weight %>
<% else %>
	<% if @sauropsid.order == 'ichthyosaur' %>
		<%= @sauropsid.length %>
		<% end %>
<% end %>

<% if @sauropsid.is_adopted == true %>
	<p>Already found a home!</p>
<% else %>
	<%= button_to 'ADOPT ME', :action => 'adopt' %>
<% end %>

<%= link_to 'Home', sauropsids_path %>

