<h1>Sign Up!</h1>

<%= form_for @user do |u| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
		        <% @user.errors.full_messages.each do |message| %>
		          <li><%= message %></li>
		        <% end %>
        	</ul>
		</div>
	<% end %>

	<div class="field">
    <%= u.label :name %><br />
    <%= u.text_field :name %>
	  </div>
	<div class="field">
    <%= u.label :email %><br />
    <%= u.text_field :email %>
	  </div>
	  <div class="field">
	    <%= u.label :password %><br />
	    <%= u.password_field :password %>
	  </div>
	  <div class="field">
	    <%= u.label :password_confirmation %><br />
	    <%= u.password_field :password_confirmation %>
	  </div>
	  <div class="actions"><%= u.submit "Sign Up" %></div>
<% end %>